body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body {
    transform: rotate(90deg);
    transform-origin: bottom right;
    position: absolute;
    top: -100vh;
    right: 0;
    height: 100vw;
    width: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#battle {
  background-image: url("https://cdn.discordapp.com/attachments/1093280491312009238/1116475162682994688/bg2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}